<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prakashindia11.sachintendulkarthelegend"
    android:versionName="2016.09.21">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ActivityHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityCenturiesList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityCenturiesList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityCenturiesTable"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityCenturiesTable" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMoMList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityMoMList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMoMTestTable"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityMoMTestTable" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMoMODITable"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityMoMODITable" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMoSList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityMoSList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityMoSTable"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityMoSTable" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityRecords"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.prakashindia11.sachintendulkarthelegend.ActivityRecords" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityAwards"></activity>

    </application>

</manifest>